<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Payments</h4>
                        <p *ngIf="invoice" class="card-category">{{invoice.total | currency:'Q '}}</p>
                        <p class="card-category">{{total | currency:'Q '}} (-)</p>
                        <p *ngIf="invoice" class="card-category">{{getBalance() | currency:'Q '}} (=)</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Id
                                </th>
                                <th>
                                    Amount
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let payment of payments">
                                    <td>
                                        {{payment.id}}
                                    </td>
                                    <td>
                                        {{payment.amount | currency:'Q '}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
